* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  scroll-behavior: smooth;

}

.container {
  display: flex;
}

.App {
  background-color: #000000;
  height: 105px;
}

.logo {
  margin-left: 19%;
  padding-top: 23px;
}

.logo img {
  max-width: 280px;
}

a {
  text-decoration: none;
}

.phone {
  padding-left: 15%;
  padding-top: 38px;
}

.phoneIcon {
  display: flex;
  margin-left: -44px;
}

.icon {
  margin-top: -33px;
}

.icon:hover {
  cursor: pointer;
}

.messageIcon {
  margin-left: -45px;
  margin-top: -37px;
}

.messageIcon:hover {
  cursor: pointer;
}

.phoneNmd {
  color: #BBB;
  font-size: 13px;
}

.phoneNmd:hover {
  cursor: pointer;
}

.nmb {
  display: flex;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}

.nmb:hover {
  cursor: pointer;
  color: #479fd0;
  transition: ease-in-out 0.25s all;
}

.message {
  padding-left: 6%;
  padding-top: 38px;

}

.messageText {
  color: #BBB;
  font-weight: bold;
  font-size: 12px;
}

.messageText:hover {
  cursor: pointer;
}

.messageText span {
  display: flex;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  padding-left: 8px;
}

.messageText span:hover {
  cursor: pointer;
  color: #479fd0;
  transition: ease-in-out 0.25s all;
}

.button {
  background-color: #f49c20;
  padding: 12px 22px;
  margin-top: 33px;
  margin-bottom: 20px;
  border-radius: 5px;
  margin-left: 3.5%;
}

.button:hover {
  animation-name: pulse-grow;
  animation-duration: .3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.btnText {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}

.button:hover {
  cursor: pointer;
}

.centerOne {
  background-image: linear-gradient(#2d54cd, #33d7ef, #2d54cd);
  height: 760px;
  width: 1903px;
  margin-top: 10px;
}

.heading1 {
  text-align: center;
  padding: 85px;
}

.heading1 h2 {
  font-size: 57px;
  font-weight: 100;
  color: #fff;
}

.heading1 h2 span {
  font-size: 57px;
  font-weight: bold;
}

.heading2 {
  color: #df1618 !important;
  font-size: 57px;
  font-weight: 900;
  margin-top: 5px;
}

.heading3 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-top: 10px;

}

.heading3::before {
  background-image: url(./images/discount-img.webp);
  position: absolute;
  background-repeat: no-repeat;
  height: 164px;
  width: 200px;
  content: "";
  left: 300px;
  top: 27%;
  /* animation: zoom-in 5s ease-in all ; */
}

.heading3::after {
  background-image: url(./images/ban-price.png);
  position: absolute;
  background-repeat: no-repeat;
  height: 164px;
  width: 200px;
  content: "";
  left: 73%;
  top: 26%
}

.heading4 {
  font-size: 40px !important;
  color: #fff;
  margin-top: 13px;

}

.heading4 span {
  color: #df1618;
  font-weight: bold;
  font-size: 40px !important;
}

.formContainer {
  margin-top: -55px;
  display: flex;
  justify-content: space-between;
  background-color: #e4f0f0;
  max-width: 53%;
  margin-left: 22.8%;
  padding: 17px;
  border-radius: 10px;
}


.nameField {
  padding: 10px 12px 9px 40px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #c1c1c1;
}

.nameField:focus {
  outline: none;
  border: 2px solid #479fd0 !important;
}

.emailField:focus {
  outline: none;
  border: 2px solid #479fd0 !important;
}

.phoneField:focus {
  outline: none;
  border: 2px solid #479fd0 !important;
}

.phoneField::-webkit-inner-spin-button,
.phoneField::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.userIcon {
  margin-left: -215px;
}

.emailField {
  padding: 10px 12px 9px 40px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #c1c1c1;
}

.phoneField {
  padding: 10px 12px 9px 40px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #c1c1c1;
}

.submitBtn {
  padding: 5px 20px;
  width: 220px;
  height: 36px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #f49c20;
  background-color: #f49c20;
  color: #fff;
}

.submitBtn:hover {
  animation-name: pulse-grow;
  animation-duration: .3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}

.submitBtn:focus {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #479fd0;
  color: #000;
  font-weight: bold;
}

.bannerImg1 {
  animation-name: fadeInDownWeb;
  animation-duration: .8s;
  animation-delay: .2s;
  animation-fill-mode: both;
  margin-top: -15px;
  margin-left: -3%;
}

.bannerImg2 {
  animation-name: fadeInDownWeb;
  animation-duration: .8s;
  animation-delay: .4s;
  animation-fill-mode: both;
  margin-top: -235px;
  margin-left: 19%;
}

.bannerImg3 {
  animation-name: fadeInDownWeb;
  animation-duration: .8s;
  animation-delay: .5s;
  animation-fill-mode: both;
  margin-top: 15px;
  margin-left: 15.2%;
}

.bannerImg4 {
  animation-name: fadeInDownWeb;
  animation-duration: .8s;
  animation-delay: .2s;
  animation-fill-mode: both;
  margin-top: -188px;
  margin-left: 27%;
}

.bannerImg5 {
  animation-name: fadeInDownWeb;
  animation-duration: .8s;
  animation-delay: .7s;
  animation-fill-mode: both;
  margin-top: -275px;
  margin-left: 41.8%;
}

.bannerImg6 {
  animation-name: fadeInDownWeb;
  animation-duration: .8s;
  animation-delay: .2s;
  animation-fill-mode: both;
  margin-top: -198px;
  margin-left: 62%;
}

.bannerImg7 {
  animation-name: fadeInDownWeb;
  animation-duration: .8s;
  animation-delay: .6s;
  animation-fill-mode: both;
  margin-top: -258px;
  margin-left: 73%;
}

.bannerImg8 {
  animation-name: fadeInDownWeb;
  animation-duration: .8s;
  animation-delay: .5s;
  animation-fill-mode: both;
  margin-top: 8px;
  margin-left: 78%;
}

.bannerImg9 {
  animation-name: fadeInDownWeb;
  animation-duration: .8s;
  animation-delay: .4s;
  animation-fill-mode: both;
  margin-top: -335px;
  margin-left: 84.3%;
}

/* animation code */

@keyframes fadeInDownWeb {
  100% {
    opacity: 1;
    transform: translate(0);

  }

  0% {
    opacity: 0;
    transform: translate(40px, 50px);
  }
}

/* animation code  */

.centerTwo {
  background-color: #fff;
  padding: 80px 0px;

}

.cTwoHeading h2 {
  text-align: center;
  font-size: 42px;
  font-weight: 900;
}

.cTwoHeading p {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: #A7A7A7;
}

.containerTwo {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin-left: 19%;
  margin-top: 35px;
}

.Imgcontainer img {
  margin: 0px 0px 100px;
  border-radius: 10px;
  transition: all .2s linear
}

.Imgcontainer img:hover {
  cursor: pointer;
  transform: scale(1.1)
}

.descript {
  background-color: #ffff;
  border-top-right-radius: 7px;
  width: 12.5%;
  position: absolute;
  margin-top: -8%;
  transition: all .2s linear
}


.descript p {
  margin-top: 5px;
  margin-left: 3px;
  font-size: 16px;
  color: #A7A7A7;
}

.descript p span {
  font-size: 22px;
  font-weight: 700;
  color: #000;
}

.Imgbutn {
  color: #fff;
  font-size: 15px;
  background-color: #2D54CD;
  padding: 12px 5px;
  border-radius: 5px;

}

.Imgbutn:hover {
  cursor: pointer;
}

.btn:hover {
  animation-name: pulse-grow;
  animation-duration: .3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.btn {
  padding-top: -10%;
  margin-left: 65%;
}

.centerThree {
  background-color: #000;
  color: #fff;
  max-width: 100%;
  padding: 15px 0px;
}

.feature h2 {
  font-size: 30px;
  font-weight: 100;
}

.featuresContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.feaOne a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.feaOne a:hover {
  cursor: text;
}

.feacont {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10px;
}

.feaOne {
  margin-left: 110px;
}

.centerFour {
  padding: 80px 0px;
  /* background-color: #479fd0; */
}

.packageHeading h2 {
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
}

.packageHeading p {
  text-align: center;
  font-size: 18px;
  color: #a8a8a8;
  padding: 15px 0px 40px;
}

.mainCardsContainer {
  display: flex;
  justify-content: space-evenly;
}

.card {
  padding: 40px 30px 35px;
  background-color: #2D54CD;
  width: 340px;
  height: 400px;
  box-shadow: 0 4px 7px 7px rgb(0 0 0 / 10%);
  border-radius: 10px;
}

.card:hover {
  cursor: grab;
  background-color: #000;
  transition: ease-in-out 0.5s all;
}

.cardContainer p {
  font-size: 18px;
  color: #fff;
}

.deletePrice1 {
  margin-left: 190px;
  text-decoration: line-through;
}

.deletePrice2 {
  margin-left: 206px;
  text-decoration: line-through;
}

.deletePrice3 {
  margin-left: 178px;
  text-decoration: line-through;
}

.cardContainer h2 {
  font-size: 72px;
  color: #fff;
  margin-top: 8px;
}

.cardContainer ul {
  margin-top: 20px;
  margin-left: -9px;
}

.cardContainer li {
  padding: 10px;
  color: #fff;
  font-size: 12px;
}

.cardbutton {
  margin-left: 6px;
  margin-top: 6px;
  padding: 10px;
  background-color: #f49c20;
  width: 200px;
  color: #fff;
  text-align: center;
}

.pakageDetail {
  max-height: 235px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.topPakages {
  background-color: #0c1623;
  padding: 30px;
  height: 700px;
  align-items: center;
  margin: 50px 120px 0px 174px;
}

.packageName {
  color: #fff;
  font-size: 46px;
  margin: 100px 0px 0px;
}

.packageDetail {
  width: 65%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 25px;
  color: #fff;
  font-size: 14px;
}

.packageContainer {
  margin-top: 20px;
}

.packageDetail li {
  border-bottom: 1px dashed rgb(255 255 255 / 15%);
  padding: 15px 0px;
  margin-right: 5%;
  display: inline-flex;
}

.priceContainer {
  color: #ffff;
  /* background-color: #fff; */
  /* margin-left: 220px; */
}

.price {
  margin-right: 9%;
  text-align: end;
  font-size: 25px !important;
}

.price h2 {
  margin-top: -670px;
  font-weight: 900;
  text-decoration: line-through #df1618 3px;
}

.price h3 {
  font-size: 36px;
  margin-right: 0.9%;
  font-weight: 800;

}

.packageImgbutn {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  background-color: #fdc400;
  padding: 10px 25px;
  border-radius: 20px;
}

.packageBtn {
  margin-right: -13.5px;
}

.packageImg {
  margin-right: -73px;
  margin-top: 25px;
}

.centerFIve {
  background-color: #2D54CD;
  padding: 35px 40px 45px 80px;
  border-radius: 7px;
  margin: 50px 100px 0px 155px;
}

.basicContainer {
  padding: 0px 15px;
}

.detail {
  padding: 20px 0px 0px;
  color: #fff;
}

.detail h2 {
  font-size: 42px;
  font-weight: bold;
}

.detail p {
  font-size: 18px;
  padding: 14px 0px;
}

.centerContact {
  padding: 0px 0px 0px 8px;
}

.mainContact {
  position: absolute;
  display: inline-flex;
  max-width: 200px;
  margin-top: 30px;

}

.mainContactTwo {
  display: inline-flex;
  max-width: 200px;
  margin-left: 13%;
}

.centerPhone {
  margin-left: 7px;
  margin-top: -19px;
  color: #fff;
  font-size: 12px;
}

.centerPhone a {
  font-size: 18px;
  margin-left: 1px;
  color: #fff;

}

.centerPhone a:hover {
  color: #000;
  transition: ease-in-out 0.25s all;
}

.centerIconOne {
  margin-left: 8px;
  color: #fff;

}

.centerIconTwo {
  border-left: 1px solid #eecea0cc;
  padding-left: 26px;
  margin-top: 6px;
}

.centerChat {
  font-size: 12px;
  color: #fff;
  margin-top: 10px;
  margin-left: 5px;
}

.centerChat span {
  display: flex;
  font-size: 18px;
  font-weight: bold;
}

.centerChat span:hover {
  color: #000;
  cursor: pointer;
  transition: ease-in-out 0.25s all;
}

.centerBtun {
  background-color: #f49c20;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.centerBtun:hover {
  cursor: pointer;
}

.contactbuton {
  margin: -37.5px 0px 40px 420px;
}

.basicLogo {
  margin-left: 60%;

}

.textLogo {
  font-size: 41px;
  color: #fff;
  margin-top: -35%;
}

.priceLogo {
  color: #F49c20;
  font-size: 152px;
}

.centerSix {
  width: 45%;
  padding-left: 28%;
}

.portfolioContainer {
  padding: 80px 10px 80px 10px;
}

.portfolioHeading h2 {
  text-align: center;
  font-size: 42px;
  color: #1B1136;
}

.portfolioHeading p {
  font-size: 18px;
  color: #AFAFC1;
  text-align: center;
  padding: 20px 0px 0px;
}

.portfolioChatSec {
  display: flex;
  justify-content: center;
}

.portfolioChatContainer {
  margin-left: 30%;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.portfoliobtn {
  background-color: #2d54cd;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  transition: all .2s linear
}

.portfoliobtn:hover {
  animation-name: pulse-grow;
  animation-duration: .3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}

.chatContainer {
  margin-left: 35%;
  margin-top: -30px;
  display: flex;
}

.portfolioChat {
  font-size: 12px;
  margin-top: 5px;
  color: #BBB;
}

.portfolioChat span {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  color: #000;
}

.portfolioChat span:hover {
  transition: ease-in-out 0.25s all;
  cursor: pointer;
  color: #479fd0;
}

.centerSeven {
  /* background-color: #479fd0; */
  margin-top: 30px;
  margin-bottom: 90px;
}

.clientContainer {
  /* width: 100%; */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.clientHeading {
  text-align: center;
}

.clientHeading h2 {
  font-size: 36px;
  color: #1B1136;
}

.clientHeading p {
  font-size: 15px;
  color: #808080;
  margin: 15px 0px;
}

.clientReviewscont {
  display: flex;
  justify-content: space-evenly;
  margin-right: 15%;
  margin-left: 15%;
}

.reviwescontainer {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0.309px 0.951px 6px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 15px;
  text-align: center;
  margin-top: 55px;
  height: 100%;
}

.reviwescontainer:hover {
  cursor: pointer;
  background-color: #f4f4f4;
  transition: all .2s linear;
}

.reviewsBox {
  padding: 20px 15px;
}

.reviewText h6 {
  font-size: 15px;
  margin-top: -28px;
  color: #333333;
}

.spanName {
  font-size: 15px !important;
  color: #333333;
}

.stars {
  display: flex;
  margin-top: 15px;
  margin-left: 27%;
}

.stars ul {
  display: flex;
  list-style: none;
}

.reviewMessage {
  margin-top: 10px;
  max-width: 200px;
  font-size: 12px;
  color: #333333;
  font-weight: 600;
  line-height: 24px;
}

.centerEight {
  background-color: #1a1a1a;
  padding: 35px 0px;

}

.registerContainer {
  margin-left: 20%;
  width: auto;
}

.registerText p {
  font-size: 18px;
  color: #ffffff;
}

.registerText h2 {
  font-size: 45px;
  color: #ffffff;
  margin: 5px 0px 15px;
  width: 700px;
}

.registerText span {
  font-size: 38px;
  color: #f49c20;
}

.registerButtons {
  margin-top: 25px;
}



.buttonOne {
  background-color: #fff;
  font-size: 15px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
  margin: 0px 20px 0px 0px;
  padding: 10px 20px;
  border-radius: 5px;
}

.buttonTwo:hover {
  cursor: pointer;
}

.buttonTwo {
  background-color: #2d54cd;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  margin: 0px 20px 0px 0px;
  padding: 10px 20px;
  border-radius: 5px;
}


.buttonThree {
  background-color: #fff;
  font-size: 15px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
  margin: 0px 20px 0px 0px;
  padding: 10px 20px;
  border-radius: 5px;
}

.footer {
  background-color: #000;
  padding: 70px 0px 160px 100px;
}

.footerContainer {
  padding: 0% 15.8%;
}

.footerLogo img {
  max-width: 350px;
}

.footerLogo p {
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  color: #727272;
  max-width: 300px;
  padding: 20px 10px 0px;
}

.footerContact h4 {
  font-size: 18px;
  color: #fff;
}

.footerContact {
  margin-top: -150px;
  max-width: 250px;
  margin-left: 38%;
}

.contactList {
  margin-top: 30px;
  font-size: 14px;
  color: #727272;
  font-weight: 400;
  line-height: 22px;
}

.contactList a {
  color: #727272;
  text-decoration: none;
}

.contactList a:hover {
  cursor: pointer;

}

.footerSolution {
  margin-left: 70%;
  margin-top: -141px;
}

.footerSolution img {
  margin-top: 32px;
  transition: all 0.5s;
}

.footerSolution img:hover {
  transform: scale(1.1)
}

.footerSolution h4 {
  color: #fff;
  font-size: 18px;
}

.footerCopywrite {
  margin-top: 5%;
  margin-bottom: 9%;
  background-color: #212121;
  padding: 20px 0px;
  margin-left: -5.6%;
}

.footerCopywriteContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 19.8%;
  margin-right: 19%;
}

.footerCopywriteContainer p {
  color: #fff;
  font-size: 14px;
}

.footerLink ul {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.footerLink li {
  list-style: none;
  padding-left: 40px;
}

li a:hover {
  color: #007bff;
  ;
}

li :hover {
  transform: rotate(360deg);
  transition: ease-in 0.5s;
}

.iconF {
  color: #fff;
}

.iconY {
  color: #fff;
}

.iconL {
  color: #fff;
}

.iconF:hover {
  color: #727272;
}

.iconY:hover {
  color: #727272;
}

.iconL:hover {
  color: #727272;
}

.disclamer {
  color: #fff;
  font-size: 14px;
  margin-top: -8.5%;
  margin-bottom: -8.5%;
  margin-left: 35%;
}


/* button animation */

@keyframes pulse-grow {
  to {
    transform: scale(1.1)
  }
}

/* button animation */


/* popup css */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5px;
  background-color: #000000c8;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fadeInPopup;
}

.popupFrom {
  background-color: #2c74e3;
  padding: 30px;
  border-radius: 10px;
  width: 700px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popupHeading {
  margin-top: 10px;
  font-size: 36px;
  color: #fff;
  text-align: center;
}

.popupSubHeading {
  margin-bottom: 20px;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.popupIcon {
  padding-left: 97%;
}

.popupIcon:hover {
  cursor: pointer;
}

.popupInput {
  color: #fff;
  width: 50%;
  padding: 14px 10px 14px 50px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #fff;
  margin-top: 20px;
  margin-left: 21%;
}

.popupInput:focus {
  outline: none;
  border: 2px solid #000 !important;
}

.popupInput::placeholder {
  color: #fff;
}

.popupInput::-webkit-inner-spin-button,
.popupInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.popupButton {
  margin-left: 41%;
  width: 20%;
  padding: 12px 0px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 38px;
  border: none;
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  cursor: pointer;
}

.popupButton:hover {
  animation-name: pulse-grow;
  animation-duration: .3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes fadeInPopup {
  0% {
    transform: scale(1);
  }
}

/* popup css */


/* navigation csss */

/* .portfolioNavContainer {
  padding: 0 0 30px 0;
}

.portfolioNavContainer.tabnavigation {
  display: flex;
  justify-content: center;
  border: 0;
  padding: 30px 0 30px 0;
}

.tabnavigation {

  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  list-style: none;
}

.tabnavigation li {
  padding-left: 15px;
}

.tabnavigation li:hover {
  cursor: pointer;
} */

/* navigation csss */